<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img src="../../assets/imgs/slide1.jpg">

  <ion-list>
    <ion-item>
      <ion-label>Marca del Auto</ion-label>
      <ion-select ngModel="marca"  interface="action-sheet"> <!--The interface the select should use: action-sheet, popover or alert. Default: alert.-->
        <ion-option *ngFor="let mar of marca" (ionSelect)="marcaTapped(mar.idMarca);" [value]="mar.idMarca">{{ mar.Marca }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Modelo del Auto</ion-label>
        <ion-select ngModel="modelos" interface="action-sheet">
          <ion-option *ngFor="let mod of modelos" (ionSelect)="modeloTapped(mod.idMarca);" [value]="mod.idMarca">{{ mod.Marca }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button block (click)="buscarModeloMarca()">Buscar Auto.</button>
      </ion-item>
  </ion-list>


  <ion-searchbar placeholder="Buscar en AutoPartes..."></ion-searchbar>


  <ion-card *ngFor="let art of articulos" (click)="itemTapped(art);">
    <ion-card-header>
      <img [src]="art.Foto" width="250px" height="250px">
    </ion-card-header>
    <ion-card-content>
      <h1>${{ art.Precio }}</h1>
      <p>{{ art.Titulo }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
